.details-content {
    padding: 0 1rem;

    h2 {
        font-size: 1rem;
        font-weight: 200;
    }
}

.pull-right {
    float: right;
}
.mb {
    padding-bottom: 10px;
}

#map {
    height: 240px;
}