qr-scanner {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  div {
    flex: 1 1;
    // position: relative;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100vw;
      min-height: 100vh;
      transform: translate(-50%, -50%) scale(1.1)
    }

    .overflow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      opacity: .8;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 200;
      text-transform: uppercase;

      img {
        width: 35%;
        margin-bottom: 1.2rem;
      }
    }
  }
}