.scroll-inner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.fill-all {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > div {

  }
}

.padding {
  padding: 1rem;
}

.icon-pr {
  padding-right: .5rem;
}

.total {
  text-transform: uppercase;
  font-size: 1.2rem;
  .amount {
    font-weight: 200;
    font-size: 1.5rem;
  }
  .item-inner {
    border-bottom: 0;
  }
}

.product {
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: 0;
  }
  .price {
    font-weight: 200;
    font-size: 1.2rem;
  }
}

.seller-info {
  font-size: 0.8rem;
  opacity: .8;
}